[submodule "firma_signing_ms"]
	path = firma_signing_ms
	url = https://github.com/unal-swarch-2022i-1A/firma_signing_ms.git
[submodule "firma_user_ms"]
	path = firma_user_ms
	url = https://github.com/unal-swarch-2022i-1A/firma_user_ms.git
[submodule "firma_docs_ms"]
	path = firma_docs_ms
	url = https://github.com/unal-swarch-2022i-1A/firma_docs_ms.git
[submodule "firma_ag"]
	path = firma_ag
	url = https://github.com/unal-swarch-2022i-1A/firma_ag.git
[submodule "firma_mq"]
	path = firma_mq
	url = https://github.com/unal-swarch-2022i-1A/firma_mq.git
[submodule "firma_keys_ms"]
	path = firma_keys_ms
	url = https://github.com/unal-swarch-2022i-1A/firma_keys_ms.git
[submodule "firma_storage_ms"]
	path = firma_storage_ms
	url = https://github.com/unal-swarch-2022i-1A/firma_storage_ms
[submodule "firma_interface"]
	path = firma_interface
	url = https://github.com/unal-swarch-2022i-1A/firma_interface
[submodule "firma_proxy"]
	path = firma_proxy
	url = https://github.com/unal-swarch-2022i-1A/firma_proxy
[submodule "firma_ldap"]
	path = firma_ldap
	url = https://github.com/unal-swarch-2022i-1A/firma_ldap
